{% import settings %}
<div id="top">
    <h1>
        <a href="/" id="top-title">
            {{ escape(handler.settings["site_title"]) }}
        </a>
    </h1>
    
    <div id="page-title" class="align-center">{{ settings.PAGE_TITLE }}</div>
        
    <div id="button-exit" class="text-link">
    	<a href="/restart" title="Reiniciar"><img src="{{ static_url('images/update.png') }}" /></a>
    	<a href="/shutdown" title="Desligar"><img src="{{ static_url('images/switch.png') }}" /></a>
    	&nbsp;&nbsp;&nbsp;
    	<a href="/logout" title="Sair"><img src="{{ static_url('images/door_in.png') }}" /></a>
    </div>
</div>