#image-browser-title {
    width:              100%;
    margin-left:        auto;
    margin-right:       auto;
    text-align:         center;
    font-size:          1.25em;
}

#image-browser {
    width:              100%;
    padding-bottom:     5px;
    margin-left:        auto;
    margin-right:       auto;
    margin-top:         0px;
}


.image-box {
    position:           relative;
    width:              160px;
    height:             40px;
    display:            inline-table;
    padding:            5px;
    border:             1px dashed gray;    
    border-radius:      2px;
}

.image-descr-short {
}

.files {
}

.image-img {
} 